.ic-sec{
    height: 550px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}
.ic-img img{
    height: 400px;
    width: 100%;
    border-bottom-left-radius: 20px;
}
.ic-det{
    background-color: white;
    height: 300px;
    padding: 40px;
    margin-left: -50px;
    margin-top: 60px;
    box-shadow: 8px 8px 40px 5px rgb(0 0 0 / 8%);
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .ic-sec{
            flex-direction: column;
            height: 100%;
        }
    .ic-img{
            width: 80%!important;
            margin: 20px auto;
            border-radius: 10px;
    }
    .ic-img img{
        border-radius: 10px;
    }
    .ic-det{
        width: 80%!important;
        height: 100%;
        margin: 17px auto;
        text-align: center;
    }
}