.dashItem{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 15px;
}
.dashText{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
@media screen and (max-width: 500px) {
    .dashItem{
        grid-template-columns: repeat(1 , 1fr);
    }
}