.banner{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvhABKa2zMwJ8gUFXI24viKCejNDmUP0R7wg&usqp=CAU');
    background-size: cover;
    background-position: center;
    padding: 150px 150px;
    position: relative;
    position: sticky;
    color: white;
}
.banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #15b49c63;
    z-index: -1;
    display: block;
}